<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Specific queries for root detection (replaces QUERY_ALL_PACKAGES) -->
    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="io.github.huskydg.magisk" />
        <package android:name="io.github.vvb2060.magisk" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.thirdparty.superuser" />
        <package android:name="de.robv.android.xposed.installer" />
    </queries>

    <application android:label="@string/app_name" android:theme="@style/Theme.ROMChecker">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
